* {
  /*outline: 1px solid black;*/
}

body {
  background-color: white;
}

header {
  background-color: #66d7ee;
}

.header-box {
  width: 40%;
  height: auto;
  border: 2px white solid;
  display: block;
  margin: auto;

}

.mini-logo {
  width: 40%;
  height: auto;
  display: block;
  text-align: center;
  margin: auto;
  padding: 2% 0%;
  border-radius: 30%;
}

h1 {
  text-align: center;
  font-size: 100%;
  color: white;
}

.fa-bars {
  color: white;
  font-size: 100%;
}

.main-nav:hover ul {
  display: block;
}

ul {
  display: none;
}

li {
  background-color: rgba(83, 148, 0, 0.5);
  color: white;
  display: block;
  padding: 1% 0%;
}

a {
  text-decoration: none;
}



@media screen and (min-width: 414px) {
  .fa-bars {
    display: none;
    color: red;
  }
  .main-nav:hover ul {
    display: block;
  }

  .main-nav ul {
    display: block;
    background-color: rgba(83, 148, 0, 0.5);
    margin: .5% 0%;
    text-align: center;
  }

  .main-nav li {
    display: inline;
    padding: 0% 1.5%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 1em;
}

@media screen and (min-width: 768px) {

}
