.header-box {
  width: 40%;
  display: block;
  margin: auto;

}

.mini-logo {
  width: 40%;
  display: block;
  text-align: center;
  margin: auto;
  padding: 2% 0%;
  border-radius: 30%;
}

h1 {
  text-align: center;
  font-size: 1.8em;
  color: white;
  margin: 2% 0%;
  font-weight: 700;
}

i.fa.fa-bars {
  color: white;
  font-size: 100%;
}

.main-nav:hover ul {
  display: block;
}

ul {
  display: none;
}

li {
  background-color: rgba(83, 148, 0, 0.5);
  color: white;
  display: block;
  padding: 1% 0%;
}

a {
  text-decoration: none;
}

#projects {
  width: 100%;
}

img {
  width: 100%;
}
