.header-box {
  width: 40%;
  display: block;
  margin: auto;

}

.mini-logo {
  width: 40%;
  display: block;
  text-align: center;
  margin: auto;
  padding: 2% 0%;
  border-radius: 30%;
}

h1 {
  text-align: center;
  font-size: 1.8em;
  color: white;
  margin: 2% 0%;
  font-weight: 700;
}

i.fa.fa-bars {
  color: white;
  font-size: 100%;
}

.main-nav:hover ul {
  display: block;
}

ul {
  display: none;
}

li {
  background-color: rgba(83, 148, 0, 0.5);
  color: white;
  display: block;
  padding: 1% 0%;
}

a {
  text-decoration: none;
}

#projects {
  width: 100%;
}

img {
  width: 100%;
}

h2 {
  position: absolute;
  top: 10.5%;
  left: 0;
}

h2 span {
  color: white;
  font: bold 24px/45px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}
