
@media only screen and (min-width: 414px) {
  i.fa.fa-bars {
    display: none;
  }
  .main-nav:hover ul {
    display: block;
  }

  .main-nav ul {
    display: block;
    background-color: rgba(83, 148, 0, 0.5);
    margin: .5% 0%;
    text-align: center;
  }

  .main-nav li {
    display: inline;
    padding: 0% 1.5%;
    background-color: rgba(0, 0, 0, 0.0);
    font-size: 2em;
  }

  section {
    width: 40%;
    margin: 10% 5%;
    border: 8px solid black;
    float: left;
  }
}

@media screen and (min-width: 640px) {
  section {
    width: 30%;
    margin: 10% 4.16%;
  }
}
